[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
sqlalchemy = "*"
alembic = "*"
simple-chalk = "*"
inquirer = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
